.box1{
    border: 1px solid pink;
    width: 33%;
    height: 80px;
    background-color: pink;
    margin: -1% 0% 0% 1%;
    display: inline-block;
}

.box2{
    border: 1px solid pink;
    width: 17%;
    height: 80px;
    background-color: pink;
    margin: -1% 0% 0% 47%;
    display: inline-block;
}

.box3{
    border: 1px solid pink;
    width: 33%;
    height: 100px;
    background-color: pink;
    margin: 2% 0% 0% 35%;
    display: inline-block;
}

.box4{
    border: 1px solid pink;
    width: 9%;
    height: 30px;
    background-color: pink;
    margin: 1% 22%;
    display: inline-block;
}

.box5{
    border: 1px solid grey;
    height: 20px;
    width: 22%;
    background-color: grey;
    margin: 8% 0% 0% 3%;
    display: inline-block;
    float: left;
}

.box6{
    border: 1px solid grey;
    height: 45px;
    width: 36%;
    background-color: grey;
    margin: 29px 0% 0% 2%;
    display: inline-block;
}

.box7{
    border: 1px solid grey;
    height: 20px;
    width: 31%;
    background-color: grey;
    margin: 40px 3% 0% 0%;
    display: inline-block;
    float: right;
}

.box8{
    border: 1px solid grey;
    height: 20px;
    width: 22%;
    background-color: grey;
    margin: 4% 0% 0% 3%;
    display: inline-block;
    float: left;
}

.box9{
    border: 1px solid grey;
    height: 83px;
    width: 70%;
    background-color: grey;
    margin: 15px 0% 0% 2%;
    display: inline-block;
}

.box10{
    border: 1px solid grey;
    height: 20px;
    width: 29%;
    background-color: grey;
    margin: 1% 0% 0% 27%;
    display: inline-block;
}

.box11{
    border: 1px solid grey;
    height: 70px;
    width: 29%;
    background-color: grey;
    margin: 1% 0% 0% 27%;
    display: inline-block;
}

.box12{
    border: 1px solid grey;
    height: 43px;
    width: 31%;
    background-color: grey;
    margin: -63px 11% 0% 9%;
    display: inline-block;
    float: right;
}

.box13{
    border: 1px solid pink;
    height: 316px;
    background-color: pink;
    margin: -20% 1% 0% 1%;
    display: block;
}

.box14{
    border: 1px solid black;
    border-top: 0px;
    width: 21%;
    height: 56px;
    background-color: pink;
    margin: 6% 0% 0% 1%;
    display: inline-block;
}

.box15{
    border: 1px solid black;
    border-top: 0px;
    width: 19%;
    height: 56px;
    background-color: pink;
    margin: 6% 0% 0% 1%;
    display: inline-block;
}

.box16{
    border: 1px solid black;
    border-top: 0px;
    width: 19%;
    height: 56px;
    background-color: pink;
    margin: 6% 0% 0% 1%;
    display: inline-block;
}

.box17{
    border: 1px solid grey;
    height: 20px;
    width: 10%;
    background-color: grey;
    margin: 7% 1% 0% 0%;
    display: inline-block;
    float: right;
}

.box18{
    border: 1px solid black;
    height: 718px;
    border-right: 0px;
    background-color: pink;
    margin: -5px 0% 0% -8px;
    display: block;
    width: 1518px;
}

.box19{
    border: 1px solid grey;
    height: 70px;
    width: 29%;
    background-color: grey;
    margin: 2% 0% 0% 8px;
    display: inline-block;
    float: left;
}

.box20{
    border: 1px solid grey;
    height: 70px;
    width: 30%;
    background-color: grey;
    margin: 2% 1% 0% 0%;
    display: inline-block;
    float: right;
}

.box21{
    border: 1px solid grey;
    height: 20px;
    width: 12%;
    background-color: grey;
    margin: 9% 0% 0% -437px;
    display: inline-block;
    float: left;
}

.box22{
    border: 1px solid grey;
    height: 70px;
    width: 82%;
    background-color: grey;
    margin: 4% 0% 0% 8px;
    display: inline-block;
    float: left;
}

.box23{
    border: 1px solid grey;
    height: 70px;
    width: 15%;
    background-color: grey;
    margin: 4% 1% 0% 8px;
    display: inline-block;
    float: right;
}

.box24{
    border: 1px solid grey;
    height: 20px;
    width: 37%;
    background-color: grey;
    margin: 5px 8px;
    display: inline-block;
    float: left
}

.box25{
    border: 1px solid grey;
    height: 70px;
    width: 1477px;
    background-color: grey;
    margin: 1% 0% 0% 8px;
    display: inline-block;
    float: left;
}

.box26 { 
    border: 1px solid grey;
    height: 20px;
    width: 12%;
    background-color: grey;
    margin: 18px 8px;
    display: inline-block;
    float: left;
}

.box27{
    border: 1px solid grey;
    height: 70px;
    width: 82%;
    background-color: grey;
    margin: 3% 0% 0% -190px;
    display: inline-block;
    float: left;
}

.box28{
    border: 1px solid grey;
    height: 20px;
    width: 13%;
    background-color: grey;
    margin: 9% 1% 0% 0%;
    display: inline-block;
    float: right;
}

.box29{
    border: 1px solid grey;
    height: 70px;
    width: 82%;
    background-color: grey;
    margin: 1% 0% 0% 254px;
    display: inline-block;
    float: left;
}

.box30{
    border: 1px solid grey;
    height: 20px;
    width: 12%;
    background-color: grey;
    margin: 18px 8px;
    display: inline-block;
    float: left;
}

.box31{
    border: 1px solid grey;
    height: 70px;
    width: 82%;
    background-color: grey;
    margin: 3% 0% 0% -190px;
    display: inline-block;
    float: left;
}

.box32{
    border: 1px solid grey;
    height: 20px;
    width: 17%;
    background-color: grey;
    margin: 4px -8px;
    display: inline-block;
    float: left;
}

.box33{
    border: 1px solid grey;
    height: 20px;
    width: 43%;
    background-color: grey;
    margin: 4px -8px;
    display: inline-block;
    float: right;
}