.box1 {
	width:550px;
	height:87px;
	border:1px solid; 
	border-color:grey;
	background-color: #F8BBC5;
	margin-top: -1%;
	margin-left: 2%;
}
.box2 {
	width:250px;
    float: right;
	height:103px;
	border:1px solid; 
	border-color:grey;
	background-color: #F8BBC5;
	margin-top: -7%;
	margin-right: 2%;
}

.box3 {
	width:450px;
	height:87px;
	border:1px solid; 
	border-color:grey;
	background-color: #F8BBC5;
	margin-left: 39%;
}

.box4 {
	width: 130px;
    height: 34px;
    border: 1px solid;
    border-color: grey;
    background-color: #F8BBC5;
    margin-left: 50%;
    margin-top: 1%;
}

.box5 {
	width: 96%;
    height: 380px;
    border: 1px solid;
    border-color: grey;
    background-color: #F8BBC5;
    margin-left: 2%;
    margin-top: 2%;
}

.box6 {
	width: 22%;
    height: 27px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 5%;
    margin-top: -22%;
}

.box7 {
	width: 32%;
    height: 50px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 30%;
	margin-top: -41px;
	/* float: right; */
}

.box8 {
	width: 29%;
    height: 27px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
 	margin-top: -40px;
	float: right;
	margin-right: 5%;
}

.box9 {
	width: 22%;
    height: 27px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 5%;
    margin-top: 3%;
}

.box10 {
	width: 65%;
    height: 100px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 30%;
    margin-top: -3%;
}

.box11 {
	width: 22%;
    height: 27px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 30%;
    margin-top: 1%;
}

.box12 {
	width: 22%;
    height: 71px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 30%;
    margin-top: 21px;
}

.box13 {
	width: 22%;
    height: 42px;
    border: 1px solid;
    border-color: grey;
    background-color: grey;
    margin-left: 54%;
    margin-top: -4%;
}