body {
	margin: 0px;
	padding-left: 130px;
	padding-right: 130px;
	margin-bottom: 100px;
}

.outer-box{
	border: 1px solid #a6a6a6;
}

.top-border {
	border: 1px solid #a6a6a6;
	height: 10px;
	background-color: black;
}

.template-padding {
	padding: 20px 20px 0px;
}

.logo {
	display: inline-block;
	font-size: 50px;
	margin: 0px;
}

.logo-tagline {
	display: inline-block;
	font-size: 40px;
	margin: 0px;
}

.logout {
	float: right;
	font-size: 30px;
	text-decoration: underline;
	cursor: pointer;
}

.text-align-center{
	display: block;
	text-align: center;
}
.phone1 {
	margin: 50px auto 0px;
	text-align: center;
	font-size: 80px;
}

.phone1-sub-heading {
	font-size: 30px;
	text-decoration: underline;
	cursor: pointer;
}

.email-msg-box {
	background-color: #EEEEEE;
	margin: 25px 50px;
	padding: 30px;
}

.label-text {
	font-size: 40px;
}

.input-box {
	height: 50px;
	width: 25%;
}

.label-text-sub-heading {
	font-size: 40px;
	font-style: italic;
	color: #ABB7B7;
	display: inline-block;
	margin: 0px;
}

.icon-left {
	font-size: 25px;
	margin: 0px 7px;
}

.text-area-box{
	width: 963px;
}

.outer-msg-div{
    margin-bottom: 15px;
}

.drop-down{
	height: 40px;
    width: 35px;
}

.icon-down{
	font-size: 25px;
}

.attachment{
	font-size: 20px;
	text-decoration: underline;
	cursor: pointer;
	display: block;
}

.send-button{
	height: 70px;
	width: 280px;
	margin-top: 30px;
	margin-right: 20px;
	background-color: #c2c2c2;
	border: none;
}

.btn-text{
	font-size: 25px;
	padding: 20px;
}

a{
 text-decoration: underline;
 cursor: pointer;	
 font-size: 23px;
 display: inline-block;
}

p{
	margin: 0px;
	display: inline-block;
	font-size: 23px;
}

.left-align{
	margin-left: 26%;
}

li{
	display: inline-block;
}
ul{
	margin: 0px;
}

.li-box{
margin-right: 10px;
display: inline-block;
background-color: #ededed;
padding: 15px 15px 16px 15px;
text-align: center;
}

.li-box-Inactive{
	margin-right: 10px;
	display: inline-block;
	background-color: #f7f7f7;
	padding: 15px;
	text-align: center;
	border: 1px solid #a6a6a6;
	}

.li-Inactive{
	text-decoration: underline;
}

.btn-text-conv{
	font-size: 30px;
}

.a-color{
	color: #a8a2a2;
	text-decoration: underline;
}


.chat-box{
	background-color: #ededed;
	padding: 50px 30px 100px 30px;
	border: 1px solid #a8a2a2;
}

.phone2{
	font-size: 45px;
	margin-right: 10px;
}

.set-name{
	font-size: 30px;
}

.view-all{
	font-size: 50px;
	float: right;
}

.icon-right{
	font-size: 30px;
	margin: 0px 15px;
}

.send-button-line{
	text-decoration: underline;
	height: 70px;
	width: 280px;
	background-color: #c2c2c2;
	border: none;
	margin: 0px;
}

.send-msg-box{
	height: 70px;
	width: 83%;
}

.attachment-later{
margin: 15px 5px 0px 0px;
font-size: 25px;
display: inline-block;
}

.margin-right{
	margin-right: 5px;
}

.notify-box{
	padding: 40px;
	margin: 20px 0px;
	text-align: center;
	background-color: #c2c2c2;
}

.notify-msg{
	font-size: 23px;
}

.chat-p-1{
margin: 20px auto;
}

.p-1-name{
font-size: 30px;
margin-right: 10px;
font-weight: bold;
}

.p-1-time{
	font-size: 30px;
}

.p-1-chat-text-box{
width: 80%;
margin-top: 20px;
background-color: #e6e1e1;
padding: 20px;
}

.p-1-chat-text{
	font-size: 30px;
}

.chat-p-2{
	margin: 20px auto;
	}
	
	.p-2-name{
	font-size: 30px;
	margin-right: 10px;
	font-weight: bold;
	}
	
	.p-2-time{
		font-size: 30px;
	}
	
	.p-2-chat-text-box{
	width: 80%;
	margin-top: 20px;
	background-color: #e6e1e1;
	padding: 20px;
	margin-right: 0px;
	}
	
	.p-2-chat-text{
		font-size: 30px;
	}

	.load-msg{
		border: 1px solid black;
		padding: 20px;
		background-color: #c2c2c2;
		width: 40%;
		margin: 0px auto;
	}

	.load-msg-text{
		font-size: 30px;
		font-weight: bold;
	}

	.load-msg-text-2{
		font-size: 30px;
		margin: 10px auto;
		color: #5e5a5a;
	}
	
	.footer-text{
		margin: 10px 0px;
	}

	.footer-text-right{
		margin: 10px 0px;
		float: right;
	}