body {
	margin: 0px;
}

.outer-box {
	border: 1px solid black;
	border-top: 10px solid black;
	width: 80%;
	height: 1835px;
	margin: 0% auto 3%;
}

.inner-box-1 {
	padding-left: 25px;
	padding-right: 25px;
}

.heading {
	margin: 10px auto;
}

.logo {
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
}

.sub-heading {
	font-size: 35px;
	margin: 0px;
	display: inline-block;
}

.logout {
	display: inline-block;
	float: right;
	margin: 5px auto;
	color: black;
}

.tel-number {
	margin: 40px auto 0px;
	text-align: center;
	font-size: 50px;
	font-weight: 1000;
}

.question {
	color: black;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
	margin: 0px auto 20px;
}

.email-box {
	border: 0px solid black;
	background-color: #EEEEEE;
	padding: 30px;
	height: 280px;
	width: 87%;
	margin: 0px auto;
}

.email-first-line, .email-second-line {
	text-align: center;
}

.to, .message, .email-first-line-heading {
	margin: 0px;
	display: inline-block;
	font-size: 30px;
}

.select {
	display: inline-block;
	border: 0px solid black;
	background-color: white;
	height: 32px;
	width: 29%;
	/* margin: -6px 7px; */
}

.symbol {
	font-size: 14px;
	font-style: italic;
	margin: 6px;
}

.email-first-line-heading {
	color: #ABB7B7;
	font-style: italic;
}

.attachment {
	color: black;
	text-decoration: underline;
	cursor: pointer;
	margin: 0% 23%;
	float: left;
}

.email-second-line-heading {
	color: #ABB7B7;
	font-style: italic;
	margin: 20px auto;
}

.message-box {
	height: 125px;
	width: 77%;
	background-color: white;
	margin-bottom: 10px;
	display: inline-block;
	float: right;
}

.message {
	color: black;
	font-style: normal;
	margin-left: 11%;
}

.send-box {
	height: 55px;
	width: 21%;
	float: left;
	display: inline-block;
	margin: 4% 0% 0% -44%;
	background-color: #C0C0C0;
}

.email-second-line {
	margin-top: 1%;
}

.send-message {
	margin: 7%;
	font-size: 23px;
}

.later-message {
	float: left;
	margin: 0%;
	margin: 6% 0% 0% -21%;
	color: #A9A9A9;
}

.all-tabs {
	margin: 10% auto 0%;
}

.tab-1, .tab-2, .tab-3 {
	border: 1px solid black;
	height: 30px;
	width: 15%;
	display: inline-block;
	margin-right: 1%;
	background-color: #EEEEEE;
}

.tab-1 {
	border-bottom: 0px;
}

.tab-3 {
	width: 10%
}

.change-password {
	margin: 0%;
	display: inline-block;
	float: right;
	text-decoration: underline;
	cursor: pointer;
}

.tab-msg-1, .tab-msg-2, .tab-msg-3 {
	display: inline-block;
	margin: 3% 11%;
}

.tab-msg-2 {
	margin: 3% 16%;
}

.tab-msg-3 {
	margin: 5% 32%;
}

.conversation-box {
	border-top: 1px solid black;
	height: 1135px;
	width: 95%;
	margin: -1px auto;
	background-color: #EEEEEE;
	padding-left: 25px;
	padding-right: 35px;
	padding-top: 25px;
}

.tel-number-2 {
	display: inline-block;
	font-size: 35px;
	margin: 0px;
	position: relative;
}

.set-name {
	display: inline-block;
	margin: 10px;
	text-decoration: underline;
	position: absolute;
}

.view-conversation {
	display: inline-block;
	text-decoration: underline;
	font-size: 35px;
	margin: 0%;
}

.icon {
	font-size: 20px;
	display: inline-block;
	margin: 8px;
}

.view-conversations-right {
	float: right;
}

.new-text {
	margin: 20px auto;
	font-size: 21px;
	font-weight: bold;
}

.msg-box, .notify-box {
	display: inline-block;
	border: 1px solid black;
	background-color: white;
	height: 50px;
	width: 80%;
}

.send-msg-box {
	float: right;
	width: 18%;
	height: 50px;
	background-color: #C0C0C0;
}

.send-msg {
	display: inline-block;
	font-size: 20px;
	margin: 14px 46px;
	text-decoration: underline;
}

.attach {
	margin: 8px auto;
	text-decoration: underline;
}

.notify-box {
	width: 100%;
	background-color: #C0C0C0;
	margin: 15px auto;
	border: none;
}

.notify-msg {
	text-align: center;
}

.person-1, .person-2 {
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	margin: 0px;
}

.person-1-time, .person-2-time {
	font-size: 20px;
	display: inline-block;
	color: #A9A9A9;
	margin: 0px 5px;
}

.person-2-position {
	float: right;
}

.person-1-box, .person-1-box-convo1 {
	background-color: #DCDCDC;
	height: 45px;
	width: 80%;
	margin: 1% 0%;
	position: relative;
}

.person-1-box-convo1 {
	height: 70px;
}

.person-1-msg {
	margin: 10px;
	position: absolute;
	font-size: 19px;
}

.person-2-box {
	background-color: #DCDCDC;
	height: 70px;
	width: 80%;
	margin: 1% 0%;
	position: relative;
	float: right;
}

.person-2-msg {
	margin: 10px;
	position: absolute;
	font-size: 19px;
}

.person-1-msg-2 {
	margin: 11% auto 0%;
}

.more-messages-box {
	background-color: #C0C0C0;
	height: 104px;
	width: 45%;
	margin: 15% auto 0%;
	position: relative;
}

.more-messages-msg1 {
    position: absolute;
    margin: 4% 30%;
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
}

.more-messages-msg2 {
    position: absolute;
    margin: 10% 16% 0%;
	font-size: 17px;
	color:#808080;	
}

.footer-msg-1{
	margin: 1% auto;
	display: inline-block;
}

.footer-msg-2{
	margin: 1% auto;
	float: right;
	display: inline-block;

}